@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}
p {
  color: #333333;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  font-style: italic;
  line-height: 2.8rem;
  padding-bottom: .75em;
  margin-bottom: 1em;
  border-bottom: 1px solid #E2E2E2;
}

b {
  font-weight: bold;
}

.article-para {
  font-size: 1.25rem;
  margin-bottom: .75em;
  line-height: 1.875rem;
}

.caption {
  padding-top: .5em;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #666666;
}

.btn {
  border: 1px solid;
  border-radius: 3px;
}

.page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: 4.63vh;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #E2E2E2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3em;
}

.btn-header {
  background-color: #567B95;
  border-color: #326891;
  color: white;
  font-size: .7rem;
  padding: .98em 1.072em .71em;
  margin-left: .5em;
}

.header-item {
  flex: 1;
}

.logo {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  font-family: 'Mr Dafoe', cursive;
  flex-grow: 2;
  align-self: center;

}

.header-left {
  display: flex;
  justify-content: space-around;
  font-size: .9rem;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: .8em;
}

.article-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 37.5em repeat(3, 1fr);
  grid-template-rows: auto;

}

.article-wrapper * {
  grid-column-start: 4;
}

.article-wrapper .image-wrapper {
  margin-bottom: 2em;
  justify-self: center;
}

.social-media {
  margin-bottom: 1em;
}

.media-icon {
  padding: .5em;
  margin-right: .5em;
  border: 1px solid white;
  border-radius: 100%;
}

.media-icon:first-child {
  padding: .5em .6em;
}

.media-icon.shareable {
  background-color: #eee;
}

.media-icon.shareable:hover {
  background-color: white;
  border-color: #eee;
}

.author-wrapper {
  display: flex;
  flex-direction: column;
}

.article-author {
  font-weight: bold;
  margin-bottom: 1.5em;
}

.publish-date {
  font-size: .875rem;
  padding-bottom: 3em;
  margin-bottom: 1.25em;
  border-bottom: 1px solid #e2e2e2;
}

.sign-up {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.btn-sign-up {
  flex-basis: 25%;
  font-weight: bold;
  padding: 6px 12px 4px 12px;
}

.inflation-theory {
  margin-top: 1.25em;
}

.inflation-image {
  position: relative;
  width: 945px;
  background-image: url("../assets/inflation-945.png");
  background-size: 945px 576px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  padding-bottom: 3em;
}

.inflation-image::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50px;
  border-bottom: 1px solid black;
}

.inflation-image p {
  width: 230px;
  margin-top: 155px;
  font-size: .875rem;
  line-height: 1.073rem;
}

.article-subtext {
  font-size: .75rem;
  margin-bottom: 3em;
  line-height: 1.25rem;
}

.comment-and-share {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}

.btn-comments {
  background-color: #567B95;
  border-color: #326891;
  color: white;
  text-align: center;
  flex-basis: 55%;
  padding: 6px 24px 4px 24px;
}

.bottom-content-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
}